body {
  text-align: center;
}

li {
  list-style: none;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #333;
}

.navbar-header {
  /*height: 110px;*/
}

h1 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

ul#main-nav {
  bottom: 0px;
}

ul#main-nav li{
  display: inline;
}

.navbar-nav>li{ cursor: pointer; }
