body {
  text-align: center;
}

li {
  list-style: none;
}

.navbar-default {
  background-color: #2f8a53;
}

.navbar-header {
  /*height: 110px;*/
}

h1 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

/*Universal Colors*/
.white {
  color: #FFF;
}
/*Navbar Styles*/

ul#main-nav {
  bottom: 0px;
}

ul#main-nav li {
  display: inline;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-nav>li:hover {

}

.navbar-nav>li {
  cursor: pointer;
}

/*Jumbotron Styles*/
.jumbotron {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Individual module styles*/
/*Discussion Module*/
#discussion {
  background-color: #f9f9f9;
}

/*Career Path Module*/
#careerPath {
  background-color: #428bca;
}

/*CheckList Module*/
#checklist {
  background-color: #5cb85c;
}

ul#port-resume li{
  font-size: 2em;
  display: inline;
  padding-right: 20px;
  color: #f9f9f9;
}
/*Discussion Module*/
#devTools {
  background-color: #f9f9f9;
}

/*Discussion Module*/
#careerAdvice {
  background-color: #E6DF73;
}

/*References Module*/
#references {
  background-color: #5bc0de;
}
